@import 'common.scss';

@media (min-width: 1px) {
  .quote {
    width: 22px;
    height: 19px;
  }

  .quote-l {
    @extend .quote;
    position: relative;
    left: -10px;
    top: -10px;
  }

  .quote-r {
    @extend .quote;
    position: relative;
    left: 10px;
    top: -4px;
  }

}




@media (min-width: 768px) {
  .quote {
    width: 22px;
    height: 19px;
  }
}



.aboutPage {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;

  .profile {
    display: flex;
    flex-wrap: wrap;
  }
}

.profilePhoto {
  @extend %section3-margin;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.resumeButton {
  a:hover::after {
    content: none;
  }

  .btn {
    line-height: 0;
    margin-bottom: 0;
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;

    @media (min-width: 1px) {
      width: 150px;
      padding: 21px;
    }

    @media (min-width: 768px) {
      padding: 23px;
      width: 160px;
      font-size: 20px;
    }
  }
}

.bio {
  @extend %section3-margin;

  display: flex;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;

  .section {
    @extend h3;
    @extend %title-margin;
    margin-top: 10px;
  }
}

.sectionCol {
  @media (min-width: 1px) {
    margin-bottom: 30px;
  }
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.exp{
  @extend %title-margin;
  max-width: 460px;

  .title {
    @extend h5;
    @extend %content-margin;

    .company {
      font-weight: bold;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .period {
    @extend h6;
    @extend %content-margin;

    font-style: italic;
  }
  .description {
    @extend h6;
    @extend %content-margin;
    line-height: 140%;
  }
}

.statementSection {
  @extend %section3-margin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1px) {
    align-items: center;
  }

  @media (min-width: 768px) {
    align-items: flex-start;
  }

  .btn {
    line-height: 0;
    margin-bottom: 0;
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 23px;
  }
}

.statement{
  @extend %statementText;
  max-width: 570px;
  width: 90%;

  @media (min-width: 1px) {
    text-align: center;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    text-align: left;
    margin-top: 55px;
    margin-bottom: 55px;
  }
}


