@import 'node_modules/retinajs/dist/_retina.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';

$primary-color: rgb(80,227,194);
$text-color: rgb(43,43,43);
$gray-color: rgb(238,242,245);
$black-color: rgb(25,25,25);
$purple-color: rgb(75,68,141);
$yellow-color: rgb(255,201,5);
$green-color: rgb(76,120,114);
$blue-color: rgb(42,56,160);
$light-gray-color: rgb(235,235,235);


%page-margin {
  @media (min-width: 1px) {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  @media (min-width: 768px) {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

%section-margin {
  @media (min-width: 1px) {
    margin-bottom: 70px;
  }
  @media (min-width: 768px) {
    margin-bottom: 200px;
  }
}

%section2-margin {
  @media (min-width: 1px) {
    margin-bottom: 55px;
  }
  @media (min-width: 768px) {
    margin-bottom: 200px;
  }
}

%section3-margin {
  @media (min-width: 1px) {
    margin-bottom: 55px;
  }
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

%title-margin {
  @media (min-width: 1px) {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

%title2-margin {
  @media (min-width: 1px) {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

%inverse-title-margin {
  @media (min-width: 1px) {
    margin-bottom: -20px;
  }
  @media (min-width: 768px) {
    margin-bottom: -30px;
  }
}

%inverse-section3-margin {
  @media (min-width: 1px) {
    margin-bottom: -55px;
  }
  @media (min-width: 768px) {
    margin-bottom: -100px;
  }
}

%content-margin {
  @media (min-width: 1px) {
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}

%content-heading-margin {
  margin-bottom: 5px;
}

%bottom-nav-margin {
  @media (min-width: 1px) {
    margin-top: -35px;
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

.grayBackground {
  background: $gray-color;
}

.lightGrayBackground {
  background: $light-gray-color;
}

.hide_mobile {
  display: none;
}

@media (min-width: 1px) {
  body {

    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.17;
    }
    h2 {
      font-weight: bold;
      font-size: 24px;
    }
    h3 {
      font-weight: bold;
      font-size: 20px
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 14px;
    }
    button {
      font-size: 25px;
    }
  }

  %statementText {
    font-size: 20px;
    line-height: 1.55;
  }
}

// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    line-height: 1.6;

    h1 {
      font-weight: bold;
      font-size: 65px;
      line-height: 1.17;
    }
    h2 {
      font-weight: bold;
      font-size: 36px;

    }
    h3 {
      font-size: 30px;
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 18px;
    }
    button {
      font-size: 25px;
    }
  }

  %statementText {
    font-size: 30px;
    line-height: 1.55;
  }

  .hide_mobile {
    display: block;
  }

  $secion-margin: 200px;
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

a {
  position: relative;
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: $text-color;
  text-decoration: none;
}

a:hover::after {
  @extend .highlight-drop;
  top: 50%;
}

.highlight {
  position: relative;
  z-index: 1;
}


.highlight-drop {
  content: "";
  background-image: linear-gradient(to right, transparent 50%, #50e3c2 50%);
  background-position: -100% 100%;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  height: 36%;
  width: 100%;
  position: absolute;
  display: block;
  border-radius: 50px;
  top: 49%;
  transition: background-position 0.3s ease-out;
  left: 0px;
  z-index: -1;
}

.highlight::after {
  @extend .highlight-drop;
}

.highlight.animate::after {
  @extend .highlight-drop;
  background-position: 0% 100%;
}
.highlight.animate.highlight-enter-done::after {
  background-position: -100% 100%;
}

.fitImage {
  width: 100%;
  height: auto;
}

.fullImage {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  overflow-x: hidden;
}

.imageWrapper {
  padding-bottom: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.twoColLayout:nth-child(odd){
  @extend .col-12;
  @extend .col-md-2;
}
.twoColLayout:nth-child(even){
  @extend .col-12;
  @extend .col-md-10;
}

.twoColEvenLayout{
  @extend .col-12;
  @extend .col-md-6;
}

.circle_bg{
  position: relative;
  width: 100%;
	border-radius: 100%;

  &>* {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &:before {
	    content: "";
	    display: block;
	    padding-top: 100%; 	/* initial ratio of 1:1*/
  }
}

.section {
  @extend h2;
  @extend %title-margin;
  display: inline-block;
  font-weight: bold;
  position: relative;
  margin-top: 10px;
}

.section::after {
  @extend .highlight-drop;
  height: 10%;
  top: -10px;
}

.sectionSubtitle {
  @extend h3;
  @extend %title-margin;
}

.firstPage {
  position: absolute;
  height: 80vh;
  width: 1px;
  top:0;
  left:0;
}

.topButton {
  transition: all 0.5s linear;
  position: fixed;
  width: 50%;
  max-width: 610px;
  margin-left: -15px;
  left: 50%;
  text-align: right;
  z-index: 100;
  pointer-events: none;

  & > i {
    pointer-events: all;
    border-radius: 100%;
    color: white;
    font-size: 40px;
    background-color: $primary-color;
    cursor: pointer;
  }

  @media (min-width: 1px) {
    bottom: 70px;
    & > i {
      font-size: 40px;
    }
  }
  @media (min-width: 768px) {
  }
}

.noscroll {
  overflow: hidden !important;
  transition: perspective 0.2s linear;
  perspective: 1px !important;
}

.parallax-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}

.hide {
  opacity: 0;
}
