@import 'common.scss';


@media (min-width: 1px) {
  .workPanelImage {
    max-width: 768px;
    width: 100vw;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 73.35%
  }

  .introTop {
    padding-bottom: 100px;
  }
  .introBottom {
    padding-bottom: 110px;
    position: relative;
  }
  .backToTop {
    display: none;
  }
}

@media (min-width: 768px) {
  .workPanelImage {
    max-width: 653px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 61.25%;
  }
  
  .introTop {
    padding-bottom: 100px;
  }
  .introBottom {
    padding-bottom: 200px;
    position: relative;
  }
  .backToTop {
    display: block;
    margin-bottom: 200px;
  }
}

.topSpacing {
  @extend %section-margin;
}

.workPanel {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: flex-end;
}

.workPanel.right {
  text-align: right;
  flex-direction: row-reverse;
}

.workPanel.last {
  @media (min-width: 768px) {
    margin-bottom: -95px;
  }
}

.workPanelImage {
  @extend %section-margin;

  height: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }
}

.workPanelCategory {
  @extend h6;
  @extend %content-heading-margin;
}

.workPanelTitle {
  @extend h1;
  @extend %content-heading-margin;
}

.workPanelDescription {
  @extend h6;
  @extend %title-margin;
  font-weight: lighter;
}

.workPanelSeeCaseStudy {
  @extend h6;
  @extend %section2-margin;

  a {
    font-weight: bold;
  }
}

.introduction {
  @extend %statementText;
  position: relative;
  margin: 0 15px;

  i.material-icons {
    font-size: 65px;
    color: $primary-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.gd1 {
  background-image: linear-gradient(225deg,rgb(130,121,199),rgb(75,68,149));

  img {
    max-width: 617px;
    transform: translate3d(0, -19%, 1.5px) scale(0.8);
  }
}

.gd2 {
  background-image: linear-gradient(180deg,rgb(197,195,139),rgb(63,121,114));

  img {
    max-width: 536px;
    transform: translate3d(0, -27%, 1.5px) scale(0.8);
    width: 88.7%;
  }
}

.gd3 {
  background-image: radial-gradient(circle at 65% 50%,rgba(0,0,0,0.49),rgb(0,0,0) 50%);

  img {
    width: 35.37%;
    transform: translate3d(0, -27%, 1.5px) scale(0.8);
  }
}

.gd4 {
  background-image: radial-gradient(circle,rgb(13,12,17),rgb(42,56,160));

  img {
    top: 80px;
    transform: translate3d(0, 0, 1.5px) scale(0.8);
  }
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}
.icon-scroll {
    width: 40px;
    margin-left: -20px;
    top: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #999;
    border-radius: 25px;
    height: 70px;
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #999;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}
@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}
@media only screen and (max-device-width: 768px) {
    .icon-scroll {
        height: 80px;
        border-radius: 4px;
    }
    .icon-scroll:after{
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #999;
        border-radius: 50%;
    }
    .icon-scroll-screen{
        position: relative;
        width: 34px;
        height: 56px;
        margin: 10px auto 0;
        border: 1px solid #999;

    }
    .icon-scroll:before {
        top: 58px;
    }
    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-46px);
            transform: translateY(-46px);
        }
    }
    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-46px);
            transform: translateY(-46px);
        }
    }
}
